{% extends "base.html" %}

{% block content %}
Game: <a href="/team/view/{{ game.team_a_id}}">{{ game.team_a }}</a> - <a href="/team/view/{{ game.team_b_id}}">{{ game.team_b }}</a><br>
Game type: {{ game.game_type }} <br>
Date: {{ game.date }} <br>
Result: {% if game.team_a_score is not none %} {{ game.team_a_score }} : {{game.team_b_score }} {% endif %}<br>
Tipps:
<table border=1>
    <thead>
        <tr>
            <th>Tipper</th>
            <th>{{ game.team_a }}</th>
            <th>{{ game.team_b }}</th>
        </tr>
    </thead>
    <tbody>

    {% for tipp in game.tipps %}
        <tr>
            <td><a href="/tipper/view/{{ tipp.tipper.id }}">{{ tipp.tipper }}</a></td>
            <td>{{ tipp.team_a_tipp }}</td>
            <td>{{ tipp.team_b_tipp }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
